<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="api_url" value="http://ahihi.vn/api/" />
    <add key="access_token" value="BEF59844905A8AA6C66345FC59C07EC6982F05A5EBD96A39A9D28CBAAAF8584A" />
    <add key="laonet_api" value="https://laonet.online/index.php?route=api_tester/call&amp;lang=en&amp;key=profile.nvt@gmail.com" />
  </appSettings>
</configuration>