<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="api_url" value="https://salehunter.net/api/" />
    <add key="access_token" value="3147BC26A5BBC93CF3A58652B1D429D21C099E539D58EAA6AF16A77C22E25F0E" />
    <add key="laonet_api" value="https://laonet.online/index.php?route=api_tester/call&amp;lang=en&amp;key=profile.nvt@gmail.com" />
  </appSettings>
</configuration>